<header id="#">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Khaja Mainoddin</h1>
            <hr>
            <p>ROR Developer</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

